.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 100;
}
.header__logo {
  height: 50px;
  object-fit: contain;
  margin-left: 20px;
}
.header__left {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.header__middle {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}
.header__middle > input {
  flex: 1;
  border: none;
}
.header__inputButton {
  width: 80px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}
.header__right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
